extends layout

block content
    div.container
        div.row
            div.main-content
                form(method='POST' action='/geofence/add').form-signin
                    h3.form-signin-heading Add a Geofence
                    div.form-group
                        label(for='address') Address
                        input.form-control(type='text' id='address', placeholder='Address',
                        required='true', autofocus='true' name='address')
                    div.form-group(style="display: none;")
                        input.form-control(type='number' id='lat', placeholder='Address',
                        autofocus='true' name='lat')
                    div.form-group(style="display: none;")
                        input.form-control(type='number' id='long', autofocus='true' name='long')
                    div.form-group
                        label(for='patient') Patient
                        select.form-control(name='patient_uid' id='patient')
                            option(value='xM6hF7cZzHMY2jK4A6BXFcdBNY12') Alex O Regan

                    input.btn.btn-info(type='submit' id='submit')