extends layout

block content
  nav.navbar.navbar-toggleable-md.fixed-top.navbar-inverse
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse',
    data-target='#vcaNavbar', aria-controls='vcaNavbar',
    aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='#') VCA
    #vcaNavbar.collapse.navbar-collapse
      ul.navbar-nav.mx-auto
        li.nav-item
          a.nav-link(href='#')
            | Manage Patients
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Manage Geofencing
        li.nav-item
          a.nav-link(href='#') Monitor Patient
        li.nav-item
          a.nav-link(href='#') Remote Camera

  div.container
    div.row
      div.col-md-12.main-content
        h1.text-center Welcome to #{title}
        h3= "Please Login/Register:"

