extends layout

block content
  nav.navbar.navbar-toggleable-md.fixed-top.bg-inverse.navbar-inverse
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse',
    data-target='#vcaNavbar', aria-controls='vcaNavbar',
    aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='#') VCA
    #vcaNavbar.collapse.navbar-collapse
      ul.navbar-nav.mx-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Medical
        li.nav-item
          a.nav-link(href='#') Security
        li.nav-item
          a.nav-link(href='#') Management
        li.nav-item
          a.nav-link(href='#') Custom

  div.container
    div.row
      div.col-md-12.main-content
        h1= title
        p.text-left Welcome to #{title}

