doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')

    //Firebase APIs
    script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js')
    script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js')
    script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase.js')
    script.
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAEh_yribiSb3kLjep5E_SbnC82u9YKC6I",
            authDomain: "y3-project-vca.firebaseapp.com",
            databaseURL: "https://y3-project-vca.firebaseio.com",
            projectId: "y3-project-vca",
            storageBucket: "y3-project-vca.appspot.com",
            messagingSenderId: "714615832758"
        };
        firebase.initializeApp(config);

    block additionalScripts

    script.
      $(document).ready(function(){
          $("#logoutButton").click(function(){
              firebase.auth().signOut().then(
                  function(){
                      $("#logoutForm").submit();
                  }
              );
          });

          $('select').material_select();
          $(".button-collapse").sideNav();
      });

      /* this is a callback that will get called when the user's auth-state changes.
      It is also called once as soon as it is passed, which will allow for auto-sign-in. */
      firebase.auth().onAuthStateChanged(function (user) {
          if (user) {
              console.log("Firebase callback: user is signed in.");
              console.log("    -uID is:" + user.uid);
          } else {
              console.log("Firebase callback: No user currently signed in.");
          }
      })

  body
    nav.light-blue(role='navigation')
     .nav-wrapper.container
      //a#logo-container.brand-logo(href='#') Logo
      ul.left.hide-on-med-and-down
          li
              a(href='/addPatient' + userQuery) Add Patient
          li
              a(href='/addGeofence' + userQuery) Manage Geofencing
          li
              a(href='/home' + userQuery) Monitor Patient
          li
              a(href='/manageBusinesses' + userQuery) Manage Businesses
          li
              a(href='#') Remote Camera
          li
              form#logoutForm(method="GET", hidden, action="/")
              a#logoutButton(href="#") Logout
      ul#nav-mobile.side-nav.light-blue
          li
              a.white-text(href='/addPatient' + userQuery) Add Patient
          li
              a.white-text(href='/addGeofence' + userQuery) Manage Geofencing
          li
              a.white-text(href='/home' + userQuery) Monitor Patient
          li
              a.white-text(href='/manageBusinesses' + userQuery) Manage Businesses
          li
              a.white-text(href='#') Remote Camera
          li
              form#logoutFormMob(method="GET", hidden, action="/")
              a.white-text#logoutButtonMob(href="#") Logout
      a.button-collapse(href='#', data-activates='nav-mobile')
       i.material-icons menu

    block content
