extends layout

block content
    div.container
        div.row
            div.main-content
                form(method='POST' action='/manageBusinesses').form-signin.col-md-6.offset-3
                    h3.form-signin-heading Add a Business
                    div.input-field
                        label(for='fname') Business Name
                        input#fname(type='text', placeholder='Restaurant Name',
                        required='true', autofocus='true' name='business_name')

                    div.input-field
                        label(for='website') Business Website
                        input#website.form-control(type='text' name='website' placeholder='www.website.ie')

                    div.input-field
                        label(for='tel') Phone Number
                        input#tel.form-control(type="tel" name='phone_number' placeholder="0871234567")

                    div.input-field
                        select#type(name='type')
                            option(value='restaurants') Restaurant
                            option(value='shopping') Shop
                            option(value='taxis') Taxi
                        label(for='type') Business Type

                    input#submit.btn(type='submit')