body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.main-content {
  margin-top: 2em;
}

nav {

  background-color: skyblue;

  li {
    margin: auto 1em;

    a {
      color: grey!important;

      &:hover {
        color: lightcyan;
      }

    }

  }

  .active {
    a.nav-link {
    color: black!important;
    }
  }

  .navbar-brand {
    color: white;
  }
}

