.home {
  margin-top: 1.5em;

  .btn {
    margin-right: 1em;
  }
}

.card-panel {
   .row {
    .col, .input-field {
      margin-left: 0.75em;
      margin-right: 0.75em;
    }
  }
}

#mapundefined {
  margin-top: 1em;
}