body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.main-content {
  margin-top: 2em;
}

nav {
  /*background-color: darkcyan;

  li {
    background-color: white;
    margin: auto 2em;
    a {
      color: black;
    }
  }*/

  li {
    margin: auto 2em;

    a {
      color: lightblue;

      &:hover {
        color: lightcyan;
      }
    }
  }

  .navbar-brand {
    color: white;
  }
}

